.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    margin-bottom: 30px;
}

.header-container-responsive {
       margin-bottom: 30px;
}

@media screen and (max-width: 600px) {

    .searchbar {
       border: 1px solid;
    }

}

.searchbar-container {
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between; 
   display: flex;

}

.searchbar {
    border: none;
    min-width: 150px;
    height: 30px;
    padding: 3px 5px;
    font-size: larger;

}

.search-icon {
    font-size: 1.3rem;
    margin-right: 5px;
    cursor: pointer;
}

.searchbar:focus {
    outline: none;
}

.plus {
    font-size: 2.5rem;
    color: white;
    background-color: black;
    right: 45vw;
    position: fixed;
    bottom: 20px;
    border-radius: 50%;

}

.backArrow {
    font-size: 3rem;
}

.create-note_form {
    display: flex;
    flex-direction: column;
}

.title-input {
    padding: 5px 8px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(197, 212, 245);
    margin-top: 10px;
}
.note-input {
    font-size: 1rem;
    padding: 8px;
}

.title-input:focus {
    outline: none;
}

.btn-delete {
    padding: 0.5rem, 0.2rem ;
    background-color: red;
    font-size: 1rem;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.NotesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.note {
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.delete-icon {
    font-size: 1.3em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note.new {
    background-color: rgba(178, 226, 210, 0.719);
}

textarea {
    border: none;
    resize: none;
    padding: 5px 5px;
    background-color: rgba(178, 226, 210, 0.719);
}

textarea:focus {
    outline: none;
}

h3 {
    margin: 0px;
}