.searchbar-container {
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;   

}

.searchbar {
    border: none;
    min-width: 250px;
    height: 30px;
    padding: 3px 5px;
    font-size: larger;
}

.search-icon {
    font-size: 1.3rem;
    margin-right: 5px;
}

.searchbar:focus {
    outline: none;
}